html, body{
	width: 100%;
	height:100%;
	background-color: white;
	scroll-behavior: smooth;
}

.skrollr-container{
	top:20%;
	width: 100%;
	height:100%;
	overflow:hidden;
}

.spin{
	position:fixed;
	width:40%;
	height:40%;
	top: 40%;
	left:40%;
	background-color: purple;
  top: 80%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  width: 500px;
  height: 500px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
border-radius: 70% 10% 60% 20%;
}
.spin2{
	position:fixed;
	width:30%;
	height:30%;
	top: 40%;
	left:40%;
	background-color: purple;

  top: 40%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  width: 300px;
  height: 300px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
border-radius: 50%;
border-radius: 25% 10%;
}


.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}


a {
	font-size: 50px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}
















