html, body{
	width: 100%;
	height:100%;
	scroll-behavior: smooth;
	display: inline-block;
	background-color: white;

}





.spin{
	position:fixed;
	width:100%;
	height:100%;
	background-color: blue;
  left: 0px;
  top:0px;
  text-align: center;
  border-radius: 50%;
}
.spin2{
	position:fixed;
	width:100%;
	height:100%;
	background-color: yellow;
  right: 0px;
  bottom:0px;
   
  text-align: center;
  border-radius: 50%;
}

.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}


a {
	font-size: 50px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}

p {
	font-size: 100px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
  color: red;
}


