html, body{
	width: 100%;
	height:100%;
	background-color: white;
	scroll-behavior: smooth;
}

.skrollr-container{
	top:20%;
	width: 100%;
	height:100%;
	overflow:hidden;
}

.spin{
	position:fixed;
	width:30%;
	height:100%;
	left:50%;
	top:2%;
	background-color: blue;
	 position: absolute;
  left: 40%;
  width: 200px;
  font-size: 25px;
  text-align: center;

}

.spin2{
	position:fixed;
	width:30%;
	height:100%;
	left:50%;
	top:2%;
	background-color: green;
	 position: absolute;
  left: 40%;
  width: 200px;
  
  font-size: 25px;
  text-align: center;

}


.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}


a {
	font-size: 50px;
	text-decoration: none;
	color: black;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}































