html, body{
	width: 100%;
	height:100%;
	background-color: black;
	scroll-behavior: smooth;
}

.skrollr-container{
	top:20%;
	width: 100%;
	height:100%;
	overflow:hidden;
}

.spin{
	position:fixed;
	width:20%;
	height:100%;
	
}
.spin2{

	position:fixed;
	width:20%;
	height:100%;
	border-color:white;
	border-style: solid;
	border-width: 20px;
	
}

.spin3{
	position:fixed;
	width:20%;
	height:100%;
	float: left;
	border-radius: 50%; 
}

.menu2 {
 position: fixed;
 width: 100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 display: inline;
 bottom: 0;
 right: 30px;
 text-align:right;

}

.number {
 position: fixed;
 width:100%;
 height: 10%;
 background-color: none;
 margin-bottom: 0px;
 top: 0px;
 right: 30px;
 text-align:right;
}


a {
	font-size: 50px;
	text-decoration: none;
	color: white;
  font-family: 'Hind Guntur', sans-serif;
  text-align:center;
  right: 20px;
}
















